<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<div th:replace="~{fragments/layout :: common-head}"></div>
<body>
	<!-- header -->
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container-fluid">
		<div class="row">
			<!-- sidebar -->
			<div th:replace="~{fragments/sidebar :: sidebar}"></div>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Home</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group me-2">
							<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
						<button type="button"
							class="btn btn-sm btn-outline-secondary dropdown-toggle">
							<span data-feather="calendar"></span> This week
						</button>
					</div>
				</div>

				<div class="card mb-3" th:each="notice : ${notices}">
					<div class="card-header text-center">Notice</div>
					<div class="card-body">
						<h5 class="card-title" th:text="${notice.noticeTitle}"></h5>
						<p class="card-text" th:text="${notice.noticeContent}"></p>
					</div>
					<div class="card-footer text-muted text-end" 
						th:text="${(notice.creator == null ? 'root' : notice.creator) + ' created at ' + #dates.format(notice.lastModifiedDate, 'yyyy/MM/dd HH:mm')}"></div>
				</div>
			</main>
		</div>
	</div>
	
	<!-- Logout Modal -->
	<div th:replace="~{fragments/modal :: logoutModal}"></div>
	
	<div th:replace="~{fragments/layout :: common-script}"></div>
</body>
</html>