<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<div th:replace="~{fragments/layout :: common-head}"></div>
<body>
	<!-- header -->
	<div th:replace="~{fragments/header :: header}"></div>
	
	<div class="container-fluid" th:with="pathRoot='/system/admin/menus'">
		<div class="row">
			<!-- sidebar -->
			<div th:replace="~{fragments/sidebar :: sidebar}"></div>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Menu</h1>
				</div>
				
				<form th:object="${menu}" th:action="@{{pathRoot}/save (pathRoot=${pathRoot})}" method="post">
					<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{toggleTarget}">
					<div class="row g-3">
						<div class="col-md-6">
							<label for="menuName" class="form-label">Menu Name</label> 
							<input type="text" class="form-control" th:field="*{menuName}" id="menuName" placeholder="Menu Name">
						</div>
						<div class="col-md-6">
							<label for="menuType" class="form-label">Menu Type</label> 
							<select name="menuType" th:field="*{menuType}" class="form-select">
								<option 
									th:each="menuTypeOpt : ${T(tw.niq.domain.MenuType).values()}" 
									th:value="${menuTypeOpt}" 
									th:text="${menuTypeOpt.displayValue}">
								</option>
							</select>
						</div>
					</div>
					<div class="row g-3 mt-1">
						<div class="col-md-6">
							<label for="uri" class="form-label">URI</label> 
							<input type="text" class="form-control" th:field="*{uri}" id="uri" placeholder="URI">
						</div>
						<div class="col-md-6">
							<label for="icon" class="form-label">Icon</label> 
							<input type="text" class="form-control" th:field="*{icon}" id="icon" placeholder="Icon">
						</div>
					</div>
					<div class="row g-3 mt-1">
						<div class="col-md-6">
							<label for="permission" class="form-label">Permission</label> 
							<input type="text" class="form-control" th:field="*{permission}" id="permission" placeholder="Permission">
						</div>
					</div>
					<div class="row g-3 mt-1">
						<div class="col-md-6">
							<label for="menuType" class="form-label">Parent</label> 
							<select name="parent" th:field="*{parent}" class="form-select">
								<option 
									th:each="parentOpt : ${parentsOpt}" 
									th:value="${parentOpt.id}" 
									th:text="${parentOpt.menuName}">
								</option>
							</select>
						</div>
					</div>
					<div class="row g-3 mt-1">
						<div class="col-md-6">
							<input class="btn btn-sm btn-primary" type="submit" value="Save">
							<a class="btn btn-sm btn-danger" th:href="@{{pathRoot} (pathRoot=${pathRoot})}" role="button">Back</a>
						</div>
					</div>
				</form>
			</main>
		</div>
	</div>
	
	<!-- Logout Modal -->
	<div th:replace="~{fragments/modal :: logoutModal}"></div>
	
	<div th:replace="~{fragments/layout :: common-script}"></div>
</body>
</html>